# Django Settings
SECRET_KEY=yoursecretkeyhere
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*.vercel.app
DATABASE_URL=postgres://user:password@host:port/dbname
SITE_URL=http://localhost:8000

# Email Configuration (Optional but recommended)
EMAIL_HOST_USER=uhv.donation.platform@gmail.com
EMAIL_HOST_PASSWORD=yourapppasswordhere
