{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Setup Donor Profile</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <i class="fas fa-info-circle"></i>
                    Before you can create donations, we need to set up your donor profile.
                    This helps recipients know more about you as a donor.
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group mt-3">
                        <button class="btn btn-primary w-100" type="submit">Create Donor Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}